<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY92qm0HNriTeKMpreowYV1EHJecNd374</string>
	<key>GCM_SENDER_ID</key>
	<string>936252706556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rover.secretsofegypt</string>
	<key>PROJECT_ID</key>
	<string>secrets-of-egypt-f215f</string>
	<key>STORAGE_BUCKET</key>
	<string>secrets-of-egypt-f215f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936252706556:ios:54302d4e96623aa7bed179</string>
</dict>
</plist>